* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(220, 224, 226);
}
h1 {
    font-size: 4.0em;
    text-transform: capitalize;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: .85em;
}
a, a:hover {
    text-decoration: none;
    color: black;
}
/*CSS GRID SETUP*/
.grid-home-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 33% 33% 33%; 
    grid-gap: 0px;    
    width: 100vw;
    height: 100vh;
}
/*NAVIGATION*/
.grid-nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0px 0px;
    padding: 0px 0px;
    position: fixed;
}
.mainnav {
    position: relative;
    top:80px;
    margin-left: 23px;
}
.navitem {
    list-style: none;
}
.footernav {
    margin-left: 23px;
    position: fixed;
    bottom: 23px;
}
/*HOME PAGE CONTENT*/
.grid-home-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    left: 0px;

    
}
.sel-work {
    height: 100vh;
    width: 100%;
    position: relative;
}
.main-proj-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
/*CLICK AREA*/
.topclick, .topclick:hover {
    position: fixed;
    top: 0;
    left: 25%;
    height: 25%;
    width: 50%;
    cursor: url(../common/cursor/chevup_blk.png), auto;
    
}
.bottomclick, .bottomclick:hover {
    position: fixed;
    bottom: 0;
    left: 25%;
    height: 25%;
    width: 50%;
    cursor: url(../common/cursor/chevdn_blk.png), auto;
    
}

#map {
    height: 400px;
    width: 750px;
}
/*clean up google maps content*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}